

$base-color: #777;
$primary-color: #58e1c1;
$link-color: #51ddfc;
$blank-color: #fff;
$border-color: #ccc;

$buttons: ("default", "error", "info","success", "warning");
$btn-colors: (default:(#52ddfc), error:(#e4757a), info:(#927bc1), success:(#63cc82), warning:(#fd7856) );

$media-query: 768px;





